<h1>Query Results</h1>

<ul class="list-group">
  <% for (var i = 0; i < data.length; i++) { %>
  <li class="list-group-item">
    <div class="card">
      <div class="card-body">
        <p>User: <%= data[i].user.name %></p>
        <p><%= data[i].text%></p>
        <p>Length: <%= data[i].text.length %></p>
        <small>Posted: <%= data[i].created_at %></small>
      </div>
    </div>
  </li>

  <% } %>
  <span id="data" hidden> <%= JSON.stringify(data); %> </span>
</ul>

<div class="chart-container">
  <h2 class="mt-4">Length of Tweets</h2>
  <canvas id="myChart"></canvas>
</div>

<script>
  let data = JSON.parse($("#data").text());
  $("#data").remove();
  let tweetLengthArr = [];
  for (let i in data) {
    tweetLengthArr.push({
      tweetLength: data[i].text.length,
      favoriteCount: data[i].favorite_count,
    });
  }
  let a = tweetLengthArr.map((t) => t.tweetLength);
  console.log(a);
  // chart
  let ctx = document.getElementById("myChart").getContext("2d");
  let myChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: tweetLengthArr.map((t) => t.favoriteCount),
      datasets: [
        {
          label: "Tweet Length",
          data: tweetLengthArr.map((t) => t.tweetLength),
          backgroundColor: 'blue'
        },
      ],
    },
  });
</script>
